.signup-form {
  background: url("../assets/heroImg.png") no-repeat center center/cover;
  padding-top: 12%;
  padding-bottom: 8%;
}

.error-container {
  align-self: center;
  align-content: baseline;
  margin-left: 25%;
  margin-right: 25%;

  flex: auto;
}

h5 {
  color: red;
  font-size: 1.3rem; /* Adjust as needed */
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  max-width: 600px;
  border: ridge rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
}

form label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

form input {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  background: white;
  border-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-weight: bold;
}

.btn1 {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 2rem;
  width: 30%;
  align-self: center;
  padding: 12px 32px;
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.btn1:hover {
  color: #eee;
  background-color: black;
}

input:hover {
  background: white;
}

.new-link {
  margin-top: 5%;
  align-self: center;
  color: white;
  font-size: 1.1rem;
}

.type {
  margin-bottom: 0.5rem;
  padding: 10px 18px;
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
  align-self: center;
  color: black;
  font-weight: bold;
}
